<div class="section container-fluid section1 winipad" >
	<div class="content">
	 	<div class="content_inner">
	 		<div class="content-header">
	 		<div class="container">
				<div class="vertical_align_content wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s">

					<h1>Win an <br/>iPad Air 2!</h1>
					<p>Competition ends 20th August</p>
					<div class="ipad-img">
						<img src="images/ipad.png" class="win-ipad" alt="">
						<div class="ipad-btn">
							<button class="btn sign_up navigate" data-id="comming-soon">Sign Up Now</button>
					   </div>
					</div>
				</div>
			</div>
			</div>
			<div class="container content-sec1">
				<div class="content_block_ipad">  
					<div class="block col-md-12 col-sm-12 full_height img_block padding0">
						<div class="winipad left wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="1s">
		 				 	<div class="text-competition">
		 				 		<h2>Current Competition</h2>
		 				 		<p>Tutor Wizards first portal competition is available for all grades 6-11 offering the chance to win 6 iPad Air 2’s (1 per grade), the competition will finish on August 20th when the students who have won the most stars and sit top of each grades overall leaderboard will win.</p>  
		 				 	</div>
		 				 	<div class="clearfix"></div>
		 				</div>
		 				<div class="winipad-sec left wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s">
		 				 	<div class="avatar_img col-md-3">
		 				 		<img src="images/ipad-thin.png" alt="">
		 				 	</div>
		 				 	<div class="text col-md-9">
		 				 		<h4>Thinner and lighter than ever before</h4>
		 				 		<p>iPad Air 2 is 18% thinner than the original iPad Air. Measuring just 6.1mm thick and weighing less than 450 grams, you’ll never want to put it down. This incredible feat of fusing performance with portability is achieved by using an amazingly light yet durable aluminium unibody that ensures that you can feel the quality and an astonishingly thin display that looks better than ever. It’s easy to hold in one hand, it’ll never be a burden to take with you.</p>  
		 				 	</div>
		 				 	<div class="clearfix"></div>
		 				</div>
		 			</div>
		 		</div>
		 	</div>

		 	<div class="mid_content">
		 		<div class="mid_content_inner">
		 			<div class="container">
			 			<div class="col-md-6 block wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="1s">
			 				<h2>Chance to win <br/> an iPad Air 2</h2>
			 				<p>Competition ends 20th August</p>
			 				<button class="btn sign_up navigate" data-id="comming-soon">Sign Up Now</button>
			 			</div>
			 		</div>
		 		</div> 
		 	</div>

		 	<div class="container content-sec2">
				<div class="content_block_ipad divider">  
					<div class="block col-md-12 col-sm-12 full_height img_block padding0">	 
		 				<div class="winipad-sec left wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s">
		 				 	<div class="avatar_img col-md-3">
		 				 		<img src="images/security.png" alt="">
		 				 	</div>
		 				 	<div class="text col-md-9">
		 				 		<h4 class="user">Taking security seriously</h4>
		 				 		<p>iPad Air 2 features an unprecedented level of security thanks to Touch ID. Touch ID lets you use your fingerprint as your password, letting you unlock your iPad or make secure purchases on the App Store, iTunes and iBooks. Your fingerprint information stays on your iPad- it’s not shared with anyone, even Apple, helping to ensure that your personal information remains private. </p>  
		 				 	</div>
		 				 	<div class="clearfix"></div>
		 				</div>

		 				<div class="winipad-sec left wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s">
		 				 	<div class="avatar_img col-md-3">
		 				 		<img src="images/camera.png" alt="">
		 				 	</div>
		 				 	<div class="text col-md-9">
		 				 		<h4 class="user">Two amazing cameras</h4>
		 				 		<p>Take incredible photos and videos with the amazing iSight and FaceTime HD cameras. The new iSight camera features an 8 megapixel sensor that can capture images in 3264 x 2448 pixels and videos in Full HD 1080p. That ensures that your images stay sharp and clear, even on larger screens. An improved image processor is better at detecting faces and keeping them in focus, as well as reducing noise to ensure cleaner, sharper images.</p>  
		 				 		<p>The front-facing FaceTime HD camera features a wider aperture, all new sensor and larger pixels to improve performance in low light. As a result, video calls on iPad Air 2 are so clear that it almost feels as if you’re in the same room. Combine that with dual microphones that work intelligently to reduce excess noise and collect more of the sounds that matter, and you’ll find video calls on iPad Air 2 sound as natural as talking to the person next to you.</p>  
		 				 	</div>
		 				 	<div class="clearfix"></div>
		 				</div>

		 				<div class="winipad-sec left wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s">
		 				 	<div class="avatar_img col-md-3">
		 				 		<img src="images/ios9.png" alt="">
		 				 	</div>
		 				 	<div class="text col-md-9">
		 				 		<h4 class="user">iOS 9</h4>
		 				 		<p>iOS 9 has been enhanced to make it more essential than ever. Get smarter suggestions from Siri, be more productive with new multitasking features and enjoy enhanced performance and security thanks to improvements to the very foundation of iOS. It comes with powerful apps already installed that make every day easier, while existing features, like QuickType, have been enhanced to help you say what 
								you want quicker and easier than ever. </p>  
								<p>if you’re new to iPad, it’s easier than ever to set things up, with the Move to iOS app, which securely transfers your contacts, message history, camera photos and videos, web bookmarks, mail accounts, calendars, wallpaper, and DRM-free songs and books from an Android device. It’ll even suggest you download any free apps you were using on your old device.</p>
		 				 	</div>
		 				 	<div class="clearfix"></div>
		 				</div>

		 				<div class="winipad-sec left wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s">
		 				 	<div class="avatar_img col-md-3">
		 				 		<img src="images/apps.png" alt="">
		 				 	</div>
		 				 	<div class="text col-md-9">
		 				 		<h4 class="user">Pre-installed Apps</h4>
		 				 		<p>The iOS 9 also comes with an amazing collection of apps, so you can start making the most of your iPad, straight out of the box. Take photos and videos and edit them on the go. Make video calls with FaceTime and send emails. Organise your life with Siri, Maps and the Calendar app. Plus, with over one million apps available on the App Store, you’ll find plenty of options to do almost anything you can imagine.</p>  
		 				 	</div>
		 				 	<div class="clearfix"></div>
		 				</div>

		 				<div class="winipad-sec left wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s">
		 				 	<div class="avatar_img col-md-3">
		 				 		<img src="images/performance.png" alt="">
		 				 	</div>
		 				 	<div class="text col-md-9">
		 				 		<h4 class="user">Massive performance</h4>
		 				 		<p>iPad Air 2 is the fastest, most powerful iPad ever thanks to its 64-bit A8X chip and M8 motion coprocessor. The A8X delivers speed and graphics that are comparable to personal computers. It’s up to 40% faster than the previous iPad Air, meaning that everything from launching apps to playing games and editing videos is more fluid and responsive. Graphical performance is enhanced to the point where console-like graphics are possible in games while design, editing and 3D modelling apps come to life with unbelievable responsiveness. </p> 
		 				 		<p>The M8 motion coprocessor works with the A8X to ensure efficiency. It continuously measures data from the accelerometer, compass, gyroscope and a new barometer, helping to preserve power and maintain a battery life that will last for up to 10 hours.</p>  
		 				 	</div>
		 				 	<div class="clearfix"></div>
		 				</div>

		 				<div class="winipad-sec wifi left wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s">
		 				 	<div class="avatar_img col-md-3">
		 				 		<img src="images/wifi-fast.png" alt="">
		 				 	</div>
		 				 	<div class="text col-md-9">
		 				 		<h4 class="user">Faster wireless</h4>
		 				 		<p>With 802.11ac Wi-Fi and MIMO support, iPad Air 2 gives you faster than ever wireless speeds, 
								so you can browse, share, stream and download at a pace of up to 866 Mbps- that’s as much as 2.8 times faster than previous models.</p>  
		 				 	</div>
		 				 	<div class="clearfix"></div>
		 				</div>

		 			</div>  
			 		<div class="clearfix"></div>
	 			</div>
	 		</div>
	 	</div>
	</div>
</div>