<div class="section container-fluid section1 blog" >
	<div class="content">
	 	 <div class="container">
			<h2 class="wow fadeInLeft" data-wow-duration="1.0s">News / Press</h2>

	 	 	<p class="left  wow flipInX" data-wow-delay="1.0s" data-wow-duration="1s">Currently no news feed available</p>

		 	<!-- <div class="col-sm-9 col-md-9 col-lg-9 left_container">
				
				<div class="post_block">
					<div class="header">
						<a href="#" class="tag">Category</a>
						<h2>Need News Story</h2>
						<span class="post_date">Posted on January 20, 2016</span>
					</div>
					<div class="body">
						<p>Two new company acquisitions further boost Spotify’s product and engineering capabilities Today Spotify announces the acquisition of two new companies, Cord Project and Soundwave. The acquisitions support Spotify’s strategy of building a great experience for music fans. Both teams will join Spotify’s product development organisation, where they will further boost Spotify’s existing strengths in developing […]</p>
					</div> 
				</div>

				<div class="post_block">
					<div class="header">
						<a href="#" class="tag">Category</a>
						<h2>Need News Story</h2>
						<span class="post_date">Posted on January 20, 2016</span>
					</div>
					<div class="body">
						<p>Two new company acquisitions further boost Spotify’s product and engineering capabilities Today Spotify announces the acquisition of two new companies, Cord Project and Soundwave. The acquisitions support Spotify’s strategy of building a great experience for music fans. Both teams will join Spotify’s product development organisation, where they will further boost Spotify’s existing strengths in developing […]</p>
					</div> 
				</div>

				<div class="post_block">
					<div class="header">
						<a href="#" class="tag">Category</a>
						<h2>Need News Story</h2>
						<span class="post_date">Posted on January 20, 2016</span>
					</div>
					<div class="body">
						<p>Two new company acquisitions further boost Spotify’s product and engineering capabilities Today Spotify announces the acquisition of two new companies, Cord Project and Soundwave. The acquisitions support Spotify’s strategy of building a great experience for music fans. Both teams will join Spotify’s product development organisation, where they will further boost Spotify’s existing strengths in developing […]</p>
					</div> 
				</div>

			</div>

			<div class="col-sm-3 col-md-3 col-lg-3 right_container"> 

				<div class="post_block archives">
					<div class="header">
						<h2>News Alert</h2>
					</div>
					<div class="body">
						 <p>Enter your email address to opt in for a notification when the latest news is added.</p>
						 <form action="#">
						 	<div class="form-group">
							    <label for="email">Email:</label>
							    <input type="email" class="form-control" id="email">
							</div> 
							<button type="submit" class="btn subscribe ">Subscribe</button>
						 </form>
					</div> 
				</div>
 
				<div class="post_block follow"> 
					<div class="header">
						<h2>@TutorWizard</h2>
					</div>
					<div class="body">
						 <p>Twitter Post goes here</p>
					</div> 
				</div>

				<div class="post_block follow"> 
					<div class="header">
						<h2>TutorWizard facebook</h2>
					</div>
					<div class="body">
						 <p>Facebook Post goes here</p>
					</div> 
				</div>

			</div>  -->
	 	 </div>  
	</div>
</div>